<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danh.ba.nha.xe.py.danh_ba_nha_xe">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
